<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(openModal) {
    <ion-modal [isOpen]="openModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Log In</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setModal(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Log in with Facebook
          </p>
          <ion-checkbox (click)="setDontShowModal()">Don't show this again.</ion-checkbox>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
  @if (isLoading) {
    <ion-list>
      @for (i of dummyArray; track i) {
        <ion-item lines="none" class="ion-padding-bottom">
          <ion-avatar slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text animated style="height: 40px" />
        </ion-item>
      }
    </ion-list>
  } @else if (error) {
    <ion-alert header="Error" [message]="error" [buttons]="['Ok']" isOpen="true" />
  } 
  <ion-list>
    @for (movie of movies; track movie) {
      <ion-item button [routerLink]="['/details', movie.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseURL + '/w92' + movie.poster_path" alt="poster" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.release_date | date:'y' }}</p>
        </ion-label>

        <ion-badge slot="end">{{ getRoundedRating(movie.vote_average) }}</ion-badge>
      </ion-item>
    } @empty {
      @if(!isLoading) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">No movies found</ion-label>
        </ion-item>
      }
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." />
  </ion-infinite-scroll>
  
</ion-content>
